:root {
    --dark: rgb(37, 34, 34);
    --gold: rgb(200,160,40);
    --coffee-brown: rgb(111,78,55);
    --beige: rgb(245,245,220);
}

/* header.jsx */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
  }


/* App.jsx */
body {
    color: var(--gold);
    background-image: url(../img/gold-black.jpg);
}

.pages {
    color: var(--beige);
    margin: 1rem;
}

.nav-link {
    color: var(--gold);
    font-size: 0.9rem;
}

.nav-link:hover {
    color: var(--beige);
}


/* AboutMe.jsx */
.my-picture {
    height: 18rem;
    width: 17rem;
    border-radius: 60%;
    margin: 1rem;
}

.about-me-paragraph {
    margin-bottom: 5rem;
}

/* Contact.jsx */
form {
    margin: 1rem
}

.form-item {
    margin-bottom: 1rem;
}

.submit-btn {
    margin-top: 0.25rem;
    background-color: var(--gold);
    border: var(--gold);
}

.submit-btn:hover {
   background-color: var(--beige);
   color: var(--coffee-brown);
}

.error-text {
    margin: 1rem;
}

/* footer.jsx */
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.671));
}

.icon-links {
    font-size: 2rem;
    margin: 1.75rem;
    color: var(--gold);
    transition: all 0.2s ease-in-out;
}



/* Portfolio.jsx */

.fit-with-vids {
    background-image: url(../img/dark-exercise.jpg);
    background-size: cover;
    padding: 3rem;
    margin: 3rem;
}

.single-project {
    height: 20rem;
    width: 30rem;
    transition: all 0.2s ease-in-out;
}

.project-content {
    font-size: 1rem;
}

.project-content h3{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.project-description {
    margin-top: 1rem;
}

.project-icon {
    font-size: 2rem;
    margin: 2rem;
    color: var(--gold);
}



.project-link {
    text-decoration: none;
    color: var(--gold);
}

@media screen and (min-width: 370px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media screen and (min-width:480px) {
    .my-picture {
        height: 22rem;
        width: 21rem;
    }

    .icon-links {
        font-size: 2rem;
        margin: 2rem;
    }

    .header {
        font-size: 1.1rem;
    }

    form {
        margin-right: 6rem
    }

    .project-content {
        font-size: 1.5rem;
    }

    
    .project-icon {
        font-size: 2.5rem;
    }
    
    .project-content h3{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width:767px) {
    .header {
        font-size: 1.25rem;
    }

    form {
        margin-right: 15rem
    }

    .project-content {
        font-size: 2rem;
    }

    .project-icon {
        font-size: 2.75rem;
    }
    
    .project-content h3{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

}

@media screen and (min-width:1024px) {
    .project-content {
        visibility: hidden;
    }

    .single-project:hover {
        font-size: 2rem;
        height: 18rem;
        width: 28rem;
        opacity: 80%;
    }
    
    .single-project:hover .project-content {
        visibility: visible;
        font-size: 1.5rem;
    }  

    .icon-links:hover {
        font-size: 3rem;
    }  

    form {
        margin-right: 20rem
    }

    .project-icon:hover {
      color: var(--beige);
    }
    
    .project-link:hover {
        color: var(--beige);
    }
}

@media screen and (min-width:1280px) {

    form {
        margin-right: 30rem
    }
}

@media screen and (min-width:1281px) {
    form {
        margin-right: 70rem
    }
}