:root {
    --dark: rgb(37, 34, 34);
    --gold: rgb(200,160,40);
    --coffee-brown: rgb(111,78,55);
    --beige: rgb(245,245,220);
}

body {
    color: var(--gold);
    background-image: url(../img/gold-black.jpg);
}

.aboutme {
    color: var(--beige);
}

.nav-link {
    color: var(--gold);
}

.nav-link:hover {
    color: var(--beige);
}

.pages {
    color: var(--beige);

}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
}

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.671));
}

.icon-links {
    font-size: 2rem;
    margin: 2rem;
    color: var(--gold);
}