form {
    margin: 1rem
}

.form-item {
    margin-bottom: 1rem;
}

.submit-btn {
    margin-top: 0.25rem;
    background-color: var(--gold);
    border: var(--gold);
}

.submit-btn:hover {
   background-color: var(--beige);
   color: var(--coffee-brown);
}

.error-text {
    margin: 1rem;
}