:root {
    --dark: rgb(37, 34, 34);
    --gold: rgb(200,160,40);
    --coffee-brown: rgb(111,78,55);
    --beige: rgb(245,245,220);
}

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.671));
}

.icon-links {
    font-size: 2rem;
    margin: 2rem;
    color: var(--gold);
}
